.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
}

.heading{
    text-align: center;
}

#button1{
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}